*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-color:black;
    --second-bg-color:rgb(123, 64, 64);
    --main-color:blue;
    --white-color:white;
    --disabled-color:rgb(125, 112, 112);
    
}

header{
    position:fixed;
    background-color: var(--bg-color);
    width:100%;
    top:0;
    left:0;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: bold;

}

nav a{
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 5s;
}

nav a:hover,
nav :active{
    color: var(--main-color);
}

.bars-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bars-box .bar{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes hide-bars{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}

.bars-box .active .bar{
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
section{
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
}

section .active{
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
        overflow: auto;
    }
}

.home{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-detail h1{
    font-size: 3.5rem;
}

.home-detail h2{
    font-size: 3rem;
    display: inline-block;
}

.home-detail h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s *var(--i));
}

@keyframes display-text{
    25%,
    100%{
        display: none;
    }
}

.home-detail h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation:fill-text 4s linear infinite;
}

@keyframes fill-text{
    10%,
    100%{
        width: 0;
    }
    70%,
    90%{
        width: 100%;
    }
}




