*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-color:black;
    --second-bg-color:rgb(123, 64, 64);
    --main-color:blue;
    --white-color:white;
    --disabled-color:rgb(125, 112, 112);
    
}

header{
    position:fixed;
    background-color: var(--bg-color);
    width:100%;
    top:0;
    left:0;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: bold;

}

nav a{
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 5s;
}

nav a:hover,
nav :active{
    color: var(--main-color);
}

.bars-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bars-box .bar{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes hide-bars{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}

.bars-box .active .bar{
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}



